%table.comparison
  %tr
    %th Level of #{@name}
    %th 2050 emissions, % below 1990 levels
  - @pathways.each.with_index do |pathway,i|
    %tr
      %td= @pathway.choice_types[@choice] == "A" ? %w{A B C D}[i] : i + 1
      %td
        = (pathway.percent_ghg_reduction * 100).round
        \%

%h2 Energy security

%table.choice_bars.detail#security_detail
  = choice_bars @pathway.security_row

%table.comparison
  %tr
    %th Level of #{@name}
    %th % energy imported
    %th GW of backup required
  - @pathways.each.with_index do |pathway,i|
    %tr
      %td= @pathway.choice_types[@choice] == "A" ? %w{A B C D}[i] : i + 1
      %td
        = (pathway.percent_energy_imported * 100).round
        \%
      %td= pathway.gw_backup_needed.round