%script{ :type => 'text/javascript' }
  $(document).ready(function() {
  = scroll_to_last_position
  = render 'primary_energy.js.erb'
  })
  
#demand
  .chart#demand_chart 
  = render "demand_choices"

#supply
  .chart#supply_chart  
  = render "supply_choices"
  
#ghg
  #targetArrow &larr;
  .chart#emissions_chart
  = render "ghg_choices"
  = render 'ghg_results'
  
  #keydata
    %h2 Energy security

    %table.choice_bars.detail#security_detail
      = choice_bars @pathway.security_row

    = render "security_results"

  
.clear
