%h1 Welcome to the DECC 2050 calculator tool

%p.link_back= link_to 'Start using the 2050 Calculator', primary_energy_chart_pathway_url(1)

%h2 Overview

%p The UK has major choices about how to move to a secure, low-carbon energy system over the period to 2050. For example: 

%ul
  %li Should we do more to cut demand? 
  %li Should we rely more on increasing and decarbonising the energy supply?
  %li How will we produce our electricity? 
  %li Which technologies will we adopt?

%h2 About the 2050 calculator

%p 
  This tool is an interface to the 
  = link_to 'first version of a calculator', call_for_evidence_spreadsheet_document_url
  to help policymakers, the energy industry and the public understand these choices. This work is not about choosing a pathway out to 2050 today &mdash; such a task would not be feasible given the major unknowns and timeframe involved. However, this work enables us to better manage some significant long-term uncertainties and helps us to avoid making long-term decisions that are incompatible with meeting our 2050 emissions target.

%h2 How to help improve this calculator
= render 'how_to_help'

%h2 How to use the 2050 calculator tool
= render 'short_help'

%h2 What to watch out for
= render 'warnings'

%h2 What has changed since this tool launched
= render 'changes'

%p.link_back= link_to 'Start using the 2050 Calculator', primary_energy_chart_pathway_url(1)

