/ %ul
/   %li 
/     = link_to "Debate pathways", '#'
/     %ul 
%li.debate= link_to "Friends of the Earth", url_for(:id => "1011343144431102431110044444034330420230443042014")
%li.debate= link_to "Campaign for Protection of Rural England", url_for(:id => "1022313123321302331220044443034330410230444041023")
%li.debate= link_to "Prof Nick Jenkins", url_for(:id => "2023322122121103221420033344034440420230344032012")
%li.debate= link_to "Mark Brinkley", url_for(:id => "2022214113411103433210034244042340420320334042014")
%li.debate= link_to "National Grid", url_for(:id => "2022211112122103332220034324023410220220344032012")
%li.debate= link_to "Energy Technologies Institute", url_for(:id => "2023222122131103231220023314013430220230243032013")
%li.debate= link_to "Atkins", url_for(:id => "2022222132321203431110034424024430320220443042021") 
%li.debate= link_to "Mark Lynas", url_for(:id => "3022312213111102232210034443014440220220244012043")